/* CSS declarations go here */
body {
  /*padding-top: 60px;*/
}


    .btn-file {
    position: relative;
    overflow: hidden;
    }
    .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    }

.drop-box {
    background: none repeat scroll 0% 0% #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    float: left;
    margin-left: 20px;
}